{# admin/companyList.html.twig #}
{% extends 'admin-base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="/assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="/assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

    <style type="text/css">
        .succMsg {
            background: #28a745;
            color: white;
            padding: 10px;
            margin-bottom: 10px;
            font-size: 20px;
            width: auto;
        }
        .hide {
            display: none;
        }
        .selectTag {
            width: 202px;
        }
        .imgScale {
            width: 30%;
            height: auto;
        }
        .error {
            color: red;
        }
        .valignTop {
            vertical-align: top;
        }
    </style>
{% endblock %}

{% block breadcrum %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">User Types</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="modal fade" id="modal-userType-form">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="form-title">Add / Edit User Type</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <form id="addUserTypeForm" class="userType-form" name="addUserTypeForm" method="post">
                        <table border="0">
                            <tbody class="valignTop">
                                <tr>
                                    <th width="40%" align="right">Type</th>
                                    <td width="60%">
                                        <input required type="text" name="type" id="frm-type"/>
                                        <div class="error hide type-error"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <th width="40%" align="right">Name</th>
                                    <td width="60%">
                                        <input required type="text" name="name" id="frm-name"/>
                                        <div class="error hide name-error"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="height: 10px;"> </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <button name="btnSave" id="btnEdit">Save</button>
                                        <button type="button" name="btnCancel" onclick="editUserTypeCancel()">Cancel</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>

                    <form id="editUserTypeForm" class="userType-form" name="editUserForm" method="put">
                        <input type="hidden" name="id" id="form-id" value=""/>

                        <table border="0">
                            <tbody class="valignTop">
                                <tr>
                                    <th width="40%" align="right">Type</th>
                                    <td width="60%">
                                        <input required type="text" name="type" id="form-type"/>
                                        <div class="error hide type-error"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <th width="40%" align="right">Name</th>
                                    <td width="60%">
                                        <input required type="text" name="name" id="form-name"/>
                                        <div class="error hide name-error"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="height: 10px;"> </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <button name="btnSave" id="btnEdit">Save</button>
                                        <button type="button" name="btnCancel" onclick="editUserTypeCancel()">Cancel</button>
                                    </td>
                                </tr>
                            </table>
                        </tbody>
                    </form>
                </div>
            </div>
        </div>
      </div>
    </div>

    <!-- view user type modal window -->
    <div class="modal fade" id="modal-userType-view">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="view-title">Add / Edit User Type - (No user type selected)</h4>
                    <button type="button" class="edit" aria-label="Edit" id="btnEditUserType" onclick="editClick()">
                        <span class="glyphicon glyphicon-align-left" aria-hidden="true">Edit</span>
                    </button>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <table border="0">
                            <tbody class="valignTop">
                                <tr>
                                    <th width="40%" align="right">Record ID</th>
                                    <td width="60%" id="view-id"></td>
                                </tr>
                                <tr>
                                    <th align="right">Type</th>
                                    <td id="view-type"></td>
                                </tr>
                                <tr>
                                    <th align="right">Name</th>
                                    <td id="view-name"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- END view user type modal window -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">User Types List</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div id="customButtons" style="margin-bottom:10px">
                            <button name="btnAdd" id="btnAdd" onclick="addUserType()">Add New</button>
                        </div>
                        <div class="succMsg hide"></div>
                        <table id="userTypeTable" class="table table-bordered table-striped hover">
                            <thead>
                            <tr>
                                <th width="15%">Type</th>
                                <th width="15%">Name</th>
                            </tr>
                            </thead>
                            <tbody id="tbody-userType" onmouseover="this.style.cursor = 'pointer'" onmouseout="this.style.cursor = 'auto'">
                            <tr>
                                <td colspan="15">Loading...</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Type</th>
                                <th>Name</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- DataTables -->
    <script src="/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/assets/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>

    <script src="{{ asset('/assets/js/moment.js') }}"></script>
    <script src="{{ asset('/assets/js/bootstrap-datetimepicker.js') }}"></script>
    <script src="{{ asset('/assets/js/userType.js') }}"></script>

{% endblock %}