{# stream/list.html.twig #}
{% extends 'base.html.twig' %}


{% block body %}

    <section class="contact-section">
        <div class="container">

            <div class="section-title text-center">
                <br/>
                <h2>Live Now</h2>
                <h3>Users currently streaming</h3>
            </div>

            {% for user in streamingUsers %}
                {% if user.getStreamingKey() is not empty %}
                        <div class="row">
                            <div class="col-md-8">
                                <h3>{{ user.nickname }}</h3>
                                <p id="fullname" style="{% if user.nickname == 'ClubEd' %}color:#33f70c;{% endif %}">{{ user.lastName }}, {{ user.firstName }}</p>
                                <div class="col-md-4">
                                    <p><a href="/profile/{{ user.nickname }}">View Profile</a></p>
                                </div>
                                <div class="col-md-4">
                                    {% if user.streamingKey != '' %}
                                        <p><a href="/stream/view/{{ user.nickname }}">Watch stream</a></p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <img src="/assets/profile/{{ user.profileImage }}"/>
                            </div>
                        </div>
                        <hr/>
                {% endif %}
            {% endfor %}





        </div>
    </section>




{% endblock %}