{# home/home.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    <section class="contact-section">
        <div class="container">
            <div class="section-title text-center">
                <br/>
                <h2> Users List </h2>
            </div>


    {% for user in users %}
        <div class="row">
            <div class="col-md-8">
                <h3>{{ user.nickname }}</h3>
                <p id="fullname" style="{% if user.nickname == 'ClubEd' %}color:#33f70c;{% endif %}">{{ user.lastName }}, {{ user.firstName }}</p>
                <div class="col-md-4">
                    <p><a href="/profile/{{ user.nickname }}">View Profile</a></p>
                </div>
                <div class="col-md-4">
                    {% if user.streamingKey != '' %}
                        <p><a href="/stream/view/{{ user.nickname }}">Watch stream</a></p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <img src="/assets/profile/{% if user.profileImage|default %}{{ user.profileImage }}{% else %}blank-profile.png{% endif %}"/>
            </div>
        </div>
        <hr/>
    {% endfor %}


        </div>
    </section>

{% endblock %}

