{# home/home.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">
        .standard-westream{
            color:white;
        }

        .succMsg {
            background: #28a745;
            color: white;
        }

        .my-table {
            color: white;
        }

        .hide {
            display: none;
        }
    </style>
{% endblock %}

{% block body %}

    <section class="contact-section">
        <div class="container">
            {% for flashMessages in app.session.flashbag.all() %}
                {% for flashMessage in flashMessages %}
                    <div class="alert succMsg" style="background: #28a745; color: white;">{{ flashMessage }}</div>
                {% endfor %}
            {% endfor %}

            <div class="section-title text-center">
                <br/>
                <h2>User Profile -  {{ nickname }}</h2>
                {% if canEdit %}
                    <span class="standard-westream">
                        <a href="/profile/edit/{{user.id}}">Edit</a>
                        <!--<img src="/assets/img/icons/pencil.png" width="20" height="20">-->
                    </span>
                {% endif %}
            </div>

            {% if nickname == currentNickname %}
                <!--
                <div class="row">
                    <div class="col-lg-12 ">
                        <p class="standard-westream">This is your profile. <a href="/profile/edit">(Edit your profile)</a></p>
                    </div>
                </div>
                -->
            {% endif %}

            <div class="row">
                <div class="col-md-8">
                    <h3>{{ user.nickname }}</h3>
                    <p id="fullname" style="{% if user.nickname == 'ClubEd' %}color:#33f70c;{% endif %}">{{ user.lastName }}, {{ user.firstName }}</p>
                    <div class="col-md-4">
                        <p>{%  if user.bio|default %}{{ user.bio|default }}{% else %}This user has no Bio. Sorry. {% endif %}</p>
                    </div>
                    <div class="col-md-4">
                        {% if user.streamingKey != '' %}
                            <p><a href="/stream/view/{{ user.nickname }}">Watch stream</a></p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="/assets/profile/{% if user.profileImage|default %}{{ user.profileImage }}{% else %}blank-profile.png{% endif %}"/>
                    {% if nickname == currentNickname %}
                    <p><a href="/profile/photo">Change Profile Photo</p>
                    {% endif %}
                </div>
            </div>

            {% if nickname == currentNickname %}
                {% if user.streamingKey != '' %}
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="standard-westream">Your streaming key is: <a href="/stream/view/{{ user.nickname }}">{{ user.streamingKey }}</a></p>
                            <p>The streaming server URL is rtmp://live.jamesjudge.info/LiveApp</p>
                            <p><a href="/chat/{{ currentNickname }}" target="_blank">Pop out chat window for your stream</a></p>
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="standard-westream">You have a basic account. <a href="/stream/request/">Request a streaming key</a></p>
                        </div>
                    </div>
                {% endif %}
            {% endif %}

            {% if nickname != currentNickname %}
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div style="text-align: center;"><h4>Shows/Events</h4></div>
                <div>&nbsp;</div>
                {% if shows %}
                    <table class="table my-table">
                        <thead>
                            <tr>
                                <th width="25%">Start Date</th>
                                <th width="25%">End Date</th>
                                <th width="10%">Amount</th>
                                <th width="15%">Watch Stram</th>
                                <th width="25%">Payment</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for show in shows %}
                                <tr>
                                    <td scope="row">{{ show.start|date("Y-m-d H:i:s") }}</td>
                                    <td>{{ show.end|date("Y-m-d H:i:s") }}</td>
                                    <td>${{ show.amount }}</td>
                                    <td>
                                        {% if show.isOrdered %}
                                            {% if (isUserLoggedIn and currentTimestamp > show.end|date("U")) %}
                                                Completed
                                            {% else %}
                                                <a href="/stream/view/{{ user.nickname }}">Watch stream</a>
                                            {% endif %}
                                        {% else %}
                                            {% if (isUserLoggedIn and currentTimestamp > show.end|date("U")) %}
                                                Missed
                                            {% elseif (isUserLoggedIn and currentTimestamp < show.end|date("U")) %}
                                                Watch stream
                                            {% else %}
                                                <a href="/stream/view/{{ user.nickname }}">Watch stream</a>
                                            {% endif %}
                                            
                                        {% endif %}
                                    </td>
                                    <td id="ordered_{{show.id}}" >
                                        {% if isUserLoggedIn and show.isOrdered %}
                                            {{ (isUserLoggedIn and currentTimestamp > show.end|date("U")) ? 'Ordered' : 'Ordered' }}
                                        {% elseif isUserLoggedIn and currentTimestamp > show.end|date("U") %}
                                            -
                                        {% else %}
                                            <div class="paypal-button-container"></div>
                                            
                                            <a id="purchaseTicket{{show.id}}" href="javascript:void(0);" onclick="purchaseTicket({{show.id}}, {{show.amount}}, {{show.end|date("U")}})">Purchase Ticket</a>

                                            <a id="cancelTicket{{show.id}}" class="hide" href="javascript:void(0);" onclick="cancelTicket({{show.id}})">Cancel</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <table class="table my-table">
                        <thead>
                            <tr>
                                <th>No events found</th>
                            </tr>
                        </thead>
                    </table>
                {% endif %}
            {% endif %}
        </div>
    </section>

{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script src="https://www.paypal.com/sdk/js?client-id={{ paypal_client_id }}&components=buttons,funding-eligibility"></script>
    <script src="/assets/js/paypal.js"></script>

{% endblock %}