{# user/profileImage.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <style type="text/`css">
        .standard-westream{
            color:white;
        }

        label {
            color:white;
        }
    </style>

{% endblock %}

{% block body %}


    <div class="container">
        <div class="section-title text-center">
            <br/>
            <h2> Upload Profile Picture</h2>
        </div>

        <div class="row">
            <div class="col-md-8 standard-westream">
                <form id="form" action="/profile/{{ currentUser.nickname }}/photo" method="post" enctype="multipart/form-data">
                    <input id="uploadImage" type="file" accept="image/*" name="image" style="color:white;"/>
                    <div id="preview"><img src="/assets/profile/{% if currentUser.profileImage|default %}{{ currentUser.profileImage }}{% else %}blank-profile.png{% endif %}" /></div><br>
                    <input type="hidden" name="nickname" value="{{ currentUser.nickname }}"/>
                    <input class="btn btn-success" type="submit" value="Upload">
                </form>
                <div id="err" class="standard-westream" style="color:white;"></div>
            </div>
        </div>
    </div>




{% endblock %}


{% block javascripts %}
    {{ parent() }}


    <script type="text/javascript">
        $(document).ready(function (e) {
            $("#form").on('submit',(function(e) {
                e.preventDefault();
                $.ajax({
                    url: "/api/user/{{ currentUser }}",
                    type: "POST",
                    data:  new FormData(this),
                    contentType: false,
                    cache: false,
                    processData:false,
                    beforeSend : function()
                    {
                        //$("#preview").fadeOut();
                        $("#err").fadeOut();
                    },
                    success: function(data)
                    {
                        if(data=='invalid')
                        {
                            // invalid file format.
                            $("#err").html("Invalid File !").fadeIn();
                        }
                        else
                        {
                            // view uploaded file.
                            $("#preview").html(data).fadeIn();
                            $("#form")[0].reset();
                        }
                    },
                    error: function(e)
                    {
                        $("#err").html(e).fadeIn();
                    }
                });
            }));
        });
    </script>

{% endblock %}