<div>&nbsp;</div>
<div>&nbsp;</div>
<div style="text-align: center;"><h4>Shows/Events</h4></div>
<div>&nbsp;</div>
{% if showsData %}
    <table class="table my-table">
        <thead>
            <tr>
                <th width="20%">Event Name</th>
                <th width="20%">Start Date</th>
                <th width="20%">End Date</th>
                <th width="5%">Amount</th>
                <th width="15%">Watch Stram</th>
                <th width="20%">Payment</th>
            </tr>
        </thead>
        <tbody>
            {% for shows in showsData %}
                <tr>
                    <td>{{ shows.eventName }}</td>
                    <td>{{ shows.start|date("Y-m-d H:i") }}</td>
                    <td>{{ shows.end|date("Y-m-d H:i") }}</td>
                    <td>${{ shows.amount }}</td>
                    <td>
                        {% if shows.isOrdered %}
                            {% if (isUserLoggedIn and currentTimestamp > shows.end|date("U")) %}
                                Completed
                            {% else %}
                                <a href="/stream/view/{{ user.nickname }}">Watch stream</a>
                            {% endif %}
                        {% else %}
                            {% if (isUserLoggedIn and currentTimestamp > shows.end|date("U")) %}
                                Missed
                            {% elseif (isUserLoggedIn and currentTimestamp < shows.start|date("U")) %}
                                Watch stream
                            {% else %}
                                {% if not isUserLoggedIn and currentTimestamp > shows.end|date("U") %}
                                    Missed
                                {% else %}
                                    <a href="/stream/view/{{ user.nickname }}">Watch stream</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td id="ordered_{{shows.id}}" >
                        {% if isUserLoggedIn and shows.isOrdered %}
                            {{ (isUserLoggedIn and currentTimestamp > shows.end|date("U")) ? 'Ordered' : 'Ordered' }}
                        {% elseif isUserLoggedIn and currentTimestamp > shows.end|date("U") %}
                            -
                        {% else %}
                            <div class="paypal-button-container"></div>
                            
                            {% if (currentTimestamp > shows.end|date("U")) %} 
                                {{ '-' }}
                            {% else %}
                                <a id="purchaseTicket{{shows.id}}" href="javascript:void(0);" onclick="purchaseTicket('{{nickname}}', {{shows.id}}, {{shows.amount}}, {{shows.end|date("U")}})">Purchase Ticket</a>
                            {% endif %}

                            <a id="cancelTicket{{shows.id}}" class="hide" href="javascript:void(0);" onclick="cancelTicket({{shows.id}})">Cancel</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <table class="table my-table">
        <thead>
            <tr>
                <th>No events found</th>
            </tr>
        </thead>
    </table>
{% endif %}
